DM Datasets/0-CNPJ (sqlite)/202211/Cnaes.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas0.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas1.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas2.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas3.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas4.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas5.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas6.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas7.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas8.zip
DM Datasets/0-CNPJ (sqlite)/202211/Empresas9.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos0.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos1.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos2.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos3.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos4.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos5.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos6.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos7.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos8.zip
DM Datasets/0-CNPJ (sqlite)/202211/Estabelecimentos9.zip
DM Datasets/0-CNPJ (sqlite)/202211/K3241.K03200Y9.D21119.EMPRECSV
DM Datasets/0-CNPJ (sqlite)/202211/LAYOUT_DADOS_ABERTOS_CNPJ.pdf
DM Datasets/0-CNPJ (sqlite)/202211/Motivos.zip
DM Datasets/0-CNPJ (sqlite)/202211/Municipios.zip
DM Datasets/0-CNPJ (sqlite)/202211/Naturezas.zip
DM Datasets/0-CNPJ (sqlite)/202211/Paises.zip
DM Datasets/0-CNPJ (sqlite)/202211/Qualificacoes.zip
DM Datasets/0-CNPJ (sqlite)/202211/Simples.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios0.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios1.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios2.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios3.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios4.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios5.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios6.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios7.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios8.zip
DM Datasets/0-CNPJ (sqlite)/202211/Socios9.zip
DM Datasets/1-CEIS/.DS_Store
DM Datasets/1-CEIS/20221111_CEIS.csv
DM Datasets/1-CEIS/20230223_CEIS.csv
DM Datasets/1-CEIS/20230223_CEIS.zip
DM Datasets/1-CEIS/CEIS 2022111.zip
DM Datasets/2-CEPIM/20221109_CEPIM.csv
DM Datasets/2-CEPIM/20230228_CEPIM.csv
DM Datasets/2-CEPIM/20230228_CEPIM.zip
DM Datasets/3-PEP/202210_PEP.csv
DM Datasets/3-PEP/202212_PEP.csv
DM Datasets/4-CNEP/20230223_CNEP.csv
DM Datasets/4-CNEP/20230223_CNEP.zip
DM Datasets/5-CEAF/20230223_Expulsoes.csv
DM Datasets/6-AcordosLeniencia/20230223_Acordos.csv
DM Datasets/6-AcordosLeniencia/20230223_Efeitos.csv
DM Datasets/7-Benef Sociais/6.1-Auxilio Emergencial/202204_AuxilioEmergencial.csv
DM Datasets/7-Benef Sociais/6.1-Auxilio Emergencial/202212_AuxilioEmergencial.zip
DM Datasets/7-Benef Sociais/6.2-Seguro Defeso/202210_SeguroDefeso.csv
DM Datasets/7-Benef Sociais/6.2-Seguro Defeso/202210_SeguroDefeso.zip
DM Datasets/7-Benef Sociais/6.3-Benefício de Prestacao Continuada/202210_BPC.zip
DM Datasets/7-Benef Sociais/6.4-Auxilio Brasil/202211_AuxilioBrasil.zip
DM Datasets/7-Benef Sociais/6.5-Garantia Safra/202210_GarantiaSafra.zip
DM Datasets/7-Benef Sociais/6.6-PETI/202205_PETI.zip
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_1_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_2_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_3_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_4_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_5_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/arquivo_lai_SIDA_6_202212.csv
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/Dados_abertos_Nao_Previdenciariozip.zip
DM Datasets/8-Divida Ativa/8.1-Nao_Previdenciario/sida.db
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS.zip
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario.zip
DM Datasets/Compranet 2022/.project
DM Datasets/Compranet 2022/compras
DM Datasets/Compranet 2022/compras.db
DM Datasets/Compranet 2022/comprasnet-contratos-anual-contratos-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-cronogramas-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-despesas_acessorias-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-empenhos-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-faturas-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-garantias-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-historicos-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-itens-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-prepostos-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-responsaveis-latest.csv
DM Datasets/Compranet 2022/comprasnet-contratos-anual-terceirizados-latest.csv
DM Datasets/Compranet 2022/dicionário-de-dados.odt
projetodatamining-b682ac1b63ad.json
DM Datasets/7-Benef Sociais/6.3-Benefício de Prestacao Continuada/202210_BPC.csv
DM Datasets/.DS_Store
DM Datasets/7-Benef Sociais/.DS_Store
DM Datasets/7-Benef Sociais/6.3-Benefício de Prestacao Continuada/.DS_Store
DM Datasets/7-Benef Sociais/6.4-Auxilio Brasil/.DS_Store
DM Datasets/7-Benef Sociais/6.4-Auxilio Brasil/202211_AuxilioBrasil.csv
DM Datasets/7-Benef Sociais/6.5-Garantia Safra/.DS_Store
DM Datasets/7-Benef Sociais/6.5-Garantia Safra/202210_GarantiaSafra.csv
DM Datasets/7-Benef Sociais/6.6-PETI/.DS_Store
DM Datasets/7-Benef Sociais/6.6-PETI/202205_PETI.csv
DM Datasets/8-Divida Ativa/.DS_Store
DM Datasets/8-Divida Ativa/8.2-FGTS/.DS_Store
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_-9_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_1_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_2_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_3_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_4_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_5_202212.csv
DM Datasets/8-Divida Ativa/8.2-FGTS/Dados_abertos_FGTS/arquivo_lai_FGTS_6_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/.DS_Store
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/.DS_Store
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_1_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_2_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_3_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_4_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_5_202212.csv
DM Datasets/8-Divida Ativa/8.3-Previdenciarios/Dados_abertos_Previdenciario/arquivo_lai_PREV_6_202212.csv
DM Datasets/.DS_Store
DM Datasets/0-CNPJ (sqlite)/.DS_Store
DM Datasets/0-CNPJ (sqlite)/202211/.DS_Store
DM Datasets/0-CNPJ (sqlite)/rede.db.2023-04-08.7z/.DS_Store
DM Datasets/0-CNPJ (sqlite)/rede.db.2023-04-08.7z/rede.db
